{% extends "layout.html" %}
{% block body %}


    {{ super() }}

<div>
        <h1 class="text_title"> AI And Machine Learning Make Attacks Harder to Detect</h1>
        
        <div class="text_normal" style="margin-top: 50px;">

            <p>Manuel Corregedor, COO at Telspace Systems, says 2019 will see more advanced exploitation of AI to carry out and conceal new exploits.

                <italic>"I believe we will see an increase in attackers utilising AI and machine learning as a means to make their attacks more difficult to detect or prevent,"</italic> says Corregedor.
                
                However, AI will also change the way the industry deals with threats.
                
                Brian Pinnock, cyber security specialist at Mimecast, says AI and machine learning will play a more prominent role as the velocity and variety of attacks makes conventional approaches - such as blacklists - outdated and ill-equipped to deal with modern cyber threats.
                
                <italic>"Organisations will realise the importance of threat intelligence and will focus on the need for an 'intelligence function' to identify threats,"</italic> says Pinnock.</p>
                
                <img src="static/costs.png" style="height: 100%; width: 100%"/>

                <p>
                        <h3 style="margin-top: 50px;">Nefarious Uses of AI</h3>
                        
                        <dl style="margin-top: 50px; margin-bottom: 50px">
                                <dt>Weaponized Vehicles</dt>
                                <dd>- This year, researchers from Oxford and Cambridge warned that AI could be used to hack drones and autonomous vehicles, producing the possibility of rogue bombings and intentional car crashes.</dd>
                                <dt>Home Attacks</dt>
                                <dd>- For many, aspects of our personal lives are already automated, with virtual assistants and IoT-connected devices. However, this necessitates that a large amount of personal data reside in the cloud. This complex network of connections will create new levels of vulnerability, with cyber attacks hitting much closer to home — for example, criminals, terrorists or rogue governments could target a world leader’s pacemaker, or other internet-connected medical device.</dd>
                                <dt>Political Warfare</dt>
                                <dd>- AI makes spearfishing more effective and efficient, but it could also be used in the political sphere for advanced surveillance, targeted propaganda and spreading misinformation.</dd>
                        </dl>
                    
                    
                </p>

                <h3 style="margin-top: 50px;">What Can Be Done?</h3>
                <p>
                        Combating the threats posed by nefarious AI will involve concerted efforts from all the stakeholders involved. Cyber defense systems will need to become more advanced so they can deal with large amounts of data. And they’ll need to be able to analyze and act in real time.

                        To cope with such a large amount of information, we’ll have to rely on artificial intelligence to help us make decisions, and next-generation cyber experts will need to develop and drive these new systems.
                        
                        Countries will need to expend vast resources to protect important systems like power grids and water supplies, and large corporations will need to protect data at every point in their system — cloud servers, personal computers and even the most inconsequential mobile device.
                        
                        In the future, cyber defense systems will be smarter, more sophisticated and better equipped to handle vast amounts of data in real time. And as for individuals, data protection will be as commonplace as seat belts and bike helmets.
                </p>
        </div>
</div>

{% endblock %}