{% extends "layout.html" %}
{% block body %}


    {{ super() }}

<div>
        <h1 class="text_title"> Phishing Scams to Soar</h1>

        <div class="text_normal">

            <p>As e-mail attacks grow more frequent and complex, more organisations will be left scrambling for new ways to reduce risk and better detect and remediate threats in 2019.

                    Pinnock says throughout 2019, the most insidious development won't be new attack types, but, rather, improved execution of existing attack types, especially those delivered via e-mail.
                    
                    "Phishing techniques like the use of homoglyphs, elongated URLs, legitimate certifications (green lock), and credential-harvesting sites will increase. Flawless phishes will continue to prey on the gap in human firewalls, pivoting internally around organisations and intensifying efforts to better educate all staff."
                    
                    Dr Jabu Mtsweni, research group leader for cyber defence at the Council for Industrial and Scientific Research (CSIR), points out that phishing scams are still quite popular as cyber security awareness remains low.
                    
                    "Denial-of-service attacks on government Web sites were also popular in 2018. This includes injection of malware on government Web sites that remain undetected. In 2019, malicious e-mail and links will continue to be used by criminals to get access to organisations' networks."</p>

                        <img src="static/phishing.jpg" style="height: 100%; width: 100%"/>
                        <p>
                            <h3 style="margin-top: 50px;">Types of Phishing</h3>
                            
                            <dl style="margin-top: 50px; margin-bottom: 50px">
                                    <dt>Spear phishing</dt>
                                    <dd>- When attackers try to craft a message to appeal to a specific individual, that's called spear phishing. (The image is of a fisherman aiming for one specific fish, rather than just casting a baited hook in the water to see who bites.) Phishers identify their targets (sometimes using information on sites like LinkedIn) and use spoofed addresses to send emails that could plausibly look like they're coming from co-workers. For instance, the spear phisher might target someone in the finance department and pretend to be the victim's manager requesting a large bank transfer on short notice.</dd>
                                    <dt>Whale phishing</dt>
                                    <dd>- Whale phishing, or whaling, is a form of spear phishing aimed at the very big fish — CEOs or other high-value targets. Many of these scams target company board members, who are considered particularly vulnerable: they have a great deal of authority within a company, but since they aren't full-time employees, they often use personal email addresses for business-related correspondence, which doesn't have the protections offered by corporate email.</dd>
                            </dl>
                        
                        </p>
    
                        <p>
                            <h3 style="margin-top: 50px;">Ways to Protect From Phishing</h3>
                        
                            <dl style="margin-top: 50px; margin-bottom: 50px">
                                    <dd>- Always check the spelling of the URLs in email links before you click or enter sensitive information</dd>
                                    <dd>- Watch out for URL redirects, where you're subtly sent to a different website with identical design</dd>
                                    <dd>- If you receive an email from a source you know but it seems suspicious, contact that source with a new email, rather than just hitting reply</dd>
                                    <dd>- Don't post personal data, like your birthday, vacation plans, or your address or phone number, publicly on social media</dd>
                            </dl>

                        </p>
        </div>
</div>

{% endblock %}